@model Player


<div class="create row g-0 card flex-md-row">
    <form class="col-lg-9 d-flex flex-column" asp-controller="Player" enctype="multipart/form-data">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <h4>Имя</h4>
                    <label>@Model.Name</label>
                </div>
                <div class="col-md-4">
                    <h4>Фамилия</h4>
                    <label>@Model.Surname</label>
                </div>
                <div class="col-md-4">
                    <h4>Возраст</h4>
                    <label>@Model.age</label>
                </div>
                
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <h4>Страна</h4>
                    <label>@Model.country</label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-7">
                    <h4>Спортивный титул</h4>
                    <label rows="4">@Model.sport_title</label>
                </div>
            </div> 
            <div class="row mb-3">
                <div class="col-md-7">
                    <h4>Личные рекорды</h4>
                    <ul class="flex-grow-1">
                        <li>Метание диска: @Model.distDisk м</li>
                        <li>Метание копья: @Model.distSpear м</li>
                        <li>Метание молота: @Model.distHammer м</li>
                        <li>Толкание ядра: @Model.distCore м</li>
                    </ul>
                </div>
            </div>
        </div>
        
            <div class="card-body" >
                <thead><tr>
                @if (Context.User.IsInRole("admin"))
            {
                <th><a asp-controller="Player" asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-primary" style="width:135px">
                    Редактировать
                </a>
                </th>
            }
            <th>
                <a asp asp-controller="Player" asp-action="Index" class="btn btn-secondary" style="width:135px">Вернуться</a>
            </th>
            </tr></thead>
        </div>



    </form>
    @{
        string picturePath = "/Images/" + Model.imageUrl;
    }
    <div class="col-lg-3" style="border-radius: 10px">
          <img src="@picturePath" alt="qwe" width="400" height="500"/>
    </div>
</div>
